services:
  bot:
    build:
      context: .
      target: dev
    environment:
      PYTHONUNBUFFERED: 1
      POSTGRES_HOST: ${POSTGRES_HOST:-postgres}
    volumes:
      - ./src:/app/src
      - ./.env:/app/.env:ro # Nasty hack to hot-reload .env
      - ./anecdotes.txt:/app/anecdotes.txt:ro
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
